{% extends "base.html" %} {% block content %}
<!--
  Page author: Aaron Cunningham
-->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/calculator-page.css') }}"
/>
<div id="mode" style="display: none">DRIVING</div>
<div class="container-calc-page">
  <h1 style="display: flex; justify-content: center; margin-top: 3rem">
    Calculator
  </h1>

  <div class="calculator-main">
    <ul class="calculator-options">
      <li style="background-color: green">
        <a href="{{url_for('calculator.car')}}">Car</a>
      </li>
      <li><a href="{{url_for('calculator.plane')}}">Flight</a></li>
      <li><a href="{{url_for('calculator.train')}}">Train</a></li>
      <li><a href="{{url_for('calculator.motorbike')}}">Motorbike</a></li>
      <li><a href="{{url_for('calculator.bus')}}">Bus</a></li>
    </ul>
    <div class="grid-calc">
      <form method="POST" class="form" id="carForm">
        <div class="radio-buttons">
          <input type="radio" id="one_way" name="trip_type" value="One way" />
          <label for="one_way">One way</label>
          <input
            type="radio"
            id="round_trip"
            name="trip_type"
            value="Round Trip"
          />
          <label for="round_trip">Round trip</label>
        </div>
        <div class="radio-buttons">
          <input type="radio" id="petrol" name="fuel_type" value="Petrol" />
          <label for="petrol">Petrol</label>
          <input
            style="margin-left: 18px"
            type="radio"
            id="diesel"
            name="fuel_type"
            value="Diesel"
          />
          <label for="diesel">Diesel</label>
        </div>
        <div>
          <input
            type="text"
            style="color: black"
            name="mpg"
            id="mpg"
            class="form-group"
            placeholder="Miles Per Gallon (MPG)"
          />
          <span id="mpgError" style="color: white; display: none"
            >MPG must be a valid number</span
          >
        </div>
        <div class="error-message-div">
          <span id="flash-message-success" class="flash-message-success"></span>
          <span id="flash-message-error" class="flash-message-error"></span>
        </div>
        <div class="calculator-main-trip">
          <div class="">
            <input
              style="color: black"
              type="text"
              name="start_destination"
              class="form-group"
              id="from"
              placeholder="Start Destination"
            />
          </div>
          <span>&#8594;</span>
          <div>
            <input
              style="color: black"
              type="text"
              name="end_destination"
              class="form-group"
              id="to"
              placeholder="End Destination"
            />
          </div>
        </div>

        <div class="submit">
          <div>
            <button
              class="button is-info is-centered"
              style="
                background: #28a745;
                border: 1px solid #28a745;
                border-radius: 4px;
                padding-left: 3rem;
                padding-right: 3rem;
              "
              type="button"
              id="calculateButton"
              disabled
            >
              Calculate
            </button>
            <span class="form-error" id="formError"
              >Please fill in all the fields before calculating</span
            >
          </div>
        </div>
      </form>

      <div>
        <div class="page-img">
          <img
            src="{{ url_for('static', filename='car-page-img.png') }}"
            alt="Car"
          />
        </div>
      </div>
    </div>
    <div class="results-container">
      <div id="map"></div>
      <div id="results" class="results">
        <h2 style="font-size: 24px">Calculations:</h2>
        <p>From:</p>
        <p>To:</p>
        <p>Trip Type:</p>
        <p>Fuel Type:</p>
        <p>Distance:</p>
        <div>
          <hr class="border" />
        </div>
        <p>CO2 amount:</p>
      </div>
    </div>
    <div class="calculate-link">
      <a
        style="
          color: white;
          text-decoration: underline;
          text-underline-position: under;
        "
        href="{{ url_for('index') }}#emissions"
        >See how we calculate emissions here</a
      >
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='javascript/form-control/carForm.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='javascript/dataTransfer.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/calculator/calculations.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/calculator/displayResults.js') }}"></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='javascript/calculator/calculatorLogicTransport.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='javascript/calculator/initMap.js') }}"
></script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap"
></script>

{% endblock %}
