{% extends "base.html" %} {% block content %}
<!--
  Page author: Felix Wong
-->
<html>
  <head> </head>

  <body style="height: 100%; margin: 0">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      "
    >
      <div
        style="
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-content: center;
        "
      >
        <h1>500 Error</h1>
        <h1>Internal Server Error</h1>
        <hl
          >The server encountered an unexpected condition that prevented it from
          fulfilling the request.</hl
        >
        <hl
          >oops! looks like you have some bugs going on ey? No worries! I would
          never give you up, never let you down, never run around and desert
          you!</hl
        >
      </div>
    </div>
  </body>
</html>
{% endblock %}
